h1 {
    color: rgb(5, 5, 5);
    max-width: 100%;
    margin-top: 5px;
    padding-top: 3px;
    padding-left: 50px;
    padding-right: 40px;
    padding-bottom: 3px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
}

body {
    background-color: rgb(225, 216, 223);
}

